.card_list {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  &--user {
      max-height: 300px; 
      overflow-y: auto; 
    &--profil {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: .75rem;
    }
  }
}
