<app-card  [customClass]="'card-primary_hidden'">
    <div class="card_list">
        <app-card-info class="card_list--user--title" [title]="title" [textInfo]="textInfo"></app-card-info>
        <div class="card_list--user">
            <div *ngFor="let user of users" class="card_list--user--profil">
                <app-user-info [customClass]="'c_user'" [userName]="user.userName" [userProfession]="user.userProfession" [userImage]="user.userImage ?? ''"></app-user-info>
                <a [href]="user.linkProfil" class="btn btn-base btn-xs">Follow</a>
            </div>
        </div>
    </div>
    <app-user-count></app-user-count>
</app-card>

