$primary-color: #3498db;
$secondary-color: #2ecc71;
$bg-banner: #F67A22;
$bg-FG1: #FE1A59;
$bg-BB1: #BB1644;
$bg-F85: #F8593B;
$background-color: #BACAD9;
$text-color: #000000;

$white: #FFFFFF;
$whiteFB: #FBFBFB;
$black000: #000000;
$red: #ff0000;
$greyB0: #b0b0b0;
