@import "../../../assets/scss/settings/color";

.center-item {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.stateHistory {
  content: "";
  position: absolute;
  width: 90% !important;
  height: 90% !important;
  border-radius: 50%;
  z-index: 1;
  @extend .center-item;
}

.c_user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  &--col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
    .c_user--profile--img {
      width: 100px;
      height: 100px;
    }
  }
  &--profile {
    &--img {
      position: relative;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      background-color: $white;
      &--link {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
        background-color: $greyB0;
        width: 82%;
        height: 82%;
        z-index: 3;
        @extend .center-item;
        border: 2px solid $white;
        img {
          object-fit: contain;
          height: 100%;
          width: auto;
        }
      }
      &.noActive::after {
        background: $black000;
        @extend .stateHistory;
      }
      &.isActive {
        &::after{
          @extend .stateHistory;
          background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
        }
      }
    }
  }
}
